#gallerypicrow1{
    height: 580px;
    width: 490px;
    margin-left: 85px;
    margin-right: 35px;
    margin-top: -40px;
}

#gallerypicrow2{
    height: 520px;
    width: 490px;
    margin-left: 90px;
    margin-right: 65px;
    margin-top: -40px;
}

#gallerypicrow3{
    height: 450px;
    width: 450px;
    margin-left: 100px;
    margin-right: 85px;
    margin-top: 50px;
}



